.Cursor {
  border-left: 1px solid hsl(0, 0%, 75%);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 0; }
  5% { opacity: 1; }
  50% { opacity: 1; }
  55% { opacity: 0; }
  100% { opacity: 0; }
}
